<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>teste2</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>



</head>

<body>
    <button type="button" onclick="getUserById(1)">Get User</button>
    <button type="button" onclick="getAllUsers()">Get All Users</button>
    <button type="button" onclick="getReportById(1)">Get Report</button>
    <button type="button" onclick="getAllReports()">Get All Reports enorme msm</button>
        
    </div>
    <!-- Botão da Modal de Registo -->
    <div id="login" style="max-width: 50%; margin: auto; padding-top: 4%;">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#registerModal">
            Registar
        </button>
    </div>
    
    <!-- Modal REGISTO -->
    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Registar</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Endereço Email</label>
                      <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
                      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Nome de Utilizador</label>
                        <input type="email" class="form-control" id="username" aria-describedby="emailHelp">
                        <small id="emailHelp" class="form-text text-muted"></small>
                      </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Palavra Chave</label>
                      <input type="password" class="form-control" id="password">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        </div>
    </div>

    <div id="getResult">

    </div>


    <script>
        function getUserById(id) {


            var resultElement = document.getElementById("getResult")
            resultElement.innerHTML = '';

            axios.get(`http://localhost:3000/users/${id}`, {


            }).then(function (response) {

                console.log(response);
                resultElement.innerHTML = response.data

            }).catch(function (error) {

                resultElement.innerHTML = errorMessage(error)

            })
        }
        /*
        function getUserByIdSuccess(response){
            return '<h4>Result</h4>'+
                    '<h5> Status:</h5>'+
                    '<pre>'+ response.status + ' ' + response.statusText + '</pre>' +
                    '<h5>Headers:</h5>'+
                    '<pre>' + JSON.stringify(response.headers, null, '\t') + '</pre>' + 
                    '<h5>Data:</h5>' + 
                    '<pre>' + JSON.stringify(response.data, null, '\t') + '</pre>';
        }
        */

        function errorMessage(error) {
            return '<h4>Result</h4>' +
                '<h5>Message:</h5> ' +
                '<pre>' + error.message + '</pre>' +
                '<h5>Status:</h5> ' +
                '<pre>' + error.response.status + ' ' + error.response.statusText + '</pre>' +
                '<h5>Headers:</h5>' +
                '<pre>' + JSON.stringify(error.response.headers, null, '\t') + '</pre>' +
                '<h5>Data:</h5>' +
                '<pre>' + JSON.stringify(error.response.data, null, '\t') + '</pre>';
        }

        function getAllUsers() {

            var resultElement = document.getElementById("getResult")
            resultElement.innerHTML = '';

            axios.get(`http://localhost:3000/users`, {


            }).then(function (response) {

                console.log(response);
                resultElement.innerHTML = response.data

            }).catch(function (error) {

                resultElement.innerHTML = errorMessage(error)

            })
        }
    
        function getReportById(id){
            
    
            var resultElement = document.getElementById("getResult")
            resultElement.innerHTML = '';
    
            axios.get(`http://localhost:3000/reports/${id}`,{
               

            }).then(function(response){

                console.log(response);
                resultElement.innerHTML = response.data

            }).catch(function(error){

                resultElement.innerHTML = errorMessage(error)

            })
        }
    
        function getAllReports(){
            
            var resultElement = document.getElementById("getResult")
            resultElement.innerHTML = '';
    
            axios.get(`http://localhost:3000/reports`,{
               

            }).then(function(response){

                console.log(response);
                resultElement.innerHTML = response.data

            }).catch(function(error){

                resultElement.innerHTML = errorMessage(error)

            })
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>

</body>

</html>