<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    
    <h1>report: {{report}}</h1>

    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Data do Ocorrido (dd/mm/aaaa) </label>
            <input type="date" class="form-control" id="fire_date">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Data do Alerta</label>
            <input type="email" class="form-control" id="report_date">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Descrição do Ocorrido</label>
            <input type="password" class="form-control" id="description">
        </div>
        <div class="form-check" id="severity_level">
            <input class="form-check-input" type="checkbox" value="" id="degree1">
            <label class="form-check-label" for="degree1">
              Grau 1
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="degree2">
            <label class="form-check-label" for="degree2">
                Grau 2
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="degree3">
            <label class="form-check-label" for="degree3">
                Grau 3
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="degree4">
            <label class="form-check-label" for="degree4">
                Grau 4
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="degree5">
            <label class="form-check-label" for="degree5">
                Grau 5
            </label>
          </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
   
</body>
</html>
